@inject PARK.APP.FIRST.Services.MenuMasterService menus

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PARK.APP.FIRST</title>

    <link href="~/css/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/lib/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/lib/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />
    @*https://www.jqwidgets.com/community/topic/uncaught-typeerror-cannot-set-property-dataadapter-of-undefined/*@
    @*jqx-all.js should be referenced after the jQuery Framework. In addition, jqxdata.js should not be referenced due to the fact that you load jqx-all.js which includes jqxdata.js.*@
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jqwidgets/jqx-all.js" asp-append-version="true"></script>
    <script src="~/lib/jqwidgets/jqxdata.js" asp-append-version="true"></script>
    <script src="~/lib/jqwidgets/jqxdata.export.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/bootstrap.mvc.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
            body {
                padding-top: 65px;
            }

            ul, li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                color: #00000;
            }

            .nav {
                color: #FFFFFF;
            }

            .navbar-nav {
                color: #FFFFFF;
            }

            .menu {
                background: transparent;
                height: 60px;
                padding: 0 0px;
                color: #FFFFFF;
            }

                .menu > li {
                    display: inline-block;
                    padding: 0px 0px 0px 0px;
                    display: inline-block;
                    text-align: center;
                    line-height: 28px;
                    height: 32px;
                    color: #FFFFFF;
                }

                    .menu > li a {
                        display: inline-block;
                        padding: 0px 0px 0px 0px;
                        display: inline-block;
                        text-align: center;
                        line-height: 28px;
                        height: 32px;
                        width: 130px;
                        color: #FFFFFF;
                    }

                        .menu > li a:hover {
                            display: inline-block;
                            padding: 0px 0px 1px 0px;
                            display: inline-block;
                            text-align: center;
                            line-height: 28px;
                            height: 32px;
                            width: 130px;
                            color: #FFFFFF;
                        }

            .sub-menu {
                position: absolute;
                display: none;
                background-color: transparent;
                width: 130px;
                color: #FFFFFF;
                padding: 2px;
            }

                .sub-menu > li {
                    display: inline-block;
                    padding: 0px 0px 0px 0px;
                    display: inline-block;
                    text-align: center;
                    line-height: 28px;
                    height: 32px;
                    width: 130px;
                    background: #3d3b3b;
                    color: #FFFFFF;
                }

                    .sub-menu > li a:hover {
                        display: block;
                        cursor: pointer;
                        width: 130px;
                        background: #ddd;
                        color: #000000
                    }

            .sub-menu2 {
                position: absolute;
                display: none;
                background-color: pink;
            }

                .sub-menu2 > li {
                    display: block;
                    cursor: pointer;
                    background-color: green;
                }

                    .sub-menu2 > li a:hover {
                        display: block;
                        Login cursor: pointer;
                        background-color: pink;
                    }

            .sub-menu2 {
                margin-top: -2px;
            }

            li:hover .sub-menu {
                display: block;
                color: #FFFFFF
            }

            li:hover .sub-menu2 {
                display: block;
                color: #FFFFFF
            }
        </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">PARK.APP.FIRST</a>
            </div>*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">PARK.APP.FIRST</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="NotFound" style="display:none">NotFound</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/AccessDenied" style="display:none">AccessDenied</a></li>
                    <li><a asp-area="UserManage" asp-controller="ManageUser" asp-action="Index">User&Role</a></li>
                    <li><a asp-area="UserManage" asp-controller="ManageRole" asp-action="Index">Roles</a></li>
                    <li><a asp-area="UserManage" asp-controller="ManageUser" asp-action="UserList">UserList</a></li>
                    <li><a asp-area="SystemManage" asp-controller="Menus" asp-action="Index">MenuList</a></li>
                    <li><a asp-area="SystemManage" asp-controller="MenuMasters" asp-action="Index">NewMenuList</a></li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        var UserRoles = "";
                        if (@User.IsInRole("Admin"))
                        {
                            UserRoles = "Admin";
                        }
                        else
                        {
                            UserRoles = "Manager";
                        }

                        @if (menus.GetMenuMaster(@UserRoles).Any())
                        {
                            @if (menus.GetMenuMaster(@UserRoles).Any())
                            {
                                @foreach (var menuNames in menus.GetMenuMaster(@UserRoles).Where(n => n.Parent_MenuId == "" && n.Use_Yn == "Y"))
                                {
                                    <li>
                                        <a asp-area="@menuNames.MenuArea" asp-controller=@menuNames.MenuController asp-action=@menuNames.MenuAction>@menuNames.MenuName</a>
                                        <ul class="sub-menu">
                                            @foreach (var subMenu in menus.GetMenuMaster(@UserRoles).Where(n => n.Parent_MenuId == @menuNames.MenuId && n.Use_Yn == "Y"))
                                            {
                                                <li>
                                                    <a asp-area="@subMenu.MenuArea" asp-controller=@subMenu.MenuController asp-action=@subMenu.MenuAction>@subMenu.MenuName</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    }
                    <li><a asp-area="Identity" asp-page="/Account/AccessDenied" style="display:none">AccessDenied</a></li>
                </ul>
                <partial name="_LoginPartial" />
                <partial name="_AdminActionPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - PARK.APP.FIRST</p>
        </footer>
    </div>

    <environment include="Development">
        
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
