@model PARK.APP.FIRST.Areas.VulnManage.Controllers.TvulnsController.ViewModels06
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers

@{
    ViewData["Title"] = "Index_06";
    ViewData["Theme"] = "metro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var pageVuln06 = Model.PageVuln06s.FirstOrDefault();
    // 제일 중요!!!!!!!!!!! get 에 의해서 가져온 모델을 지역변수로 선언!!!
    var pageSearchs = Model.PageSearchModels;
}
<h2>https://www.learnrazorpages.com/</h2>


@*나중에 html.BeginForm 에서 submit 할 때 form 의 내용만 담긴 model 만! 넘길 수 있는지 찾아봐야 함!!!!*@
@using (Html.BeginForm("Index_06", "Tvulns", FormMethod.Post))
{
    @Html.LabelFor(m => m.PageSearchModels.Vuln_name)
    @Html.TextBoxFor(m => m.PageSearchModels.Vuln_name, new { placeholder = "ViewModels06.Vuln_name", @class = "form-control" })
    @Html.LabelFor(m => m.PageSearchModels.Comp_name)
    @Html.TextBoxFor(m => m.PageSearchModels.Comp_name, new { placeholder = "ViewModels06.Comp_name", @class = "form-control" })
    <bootstrap-button type="submit" class="btn btn-primary btn-sm">
        Submit
    </bootstrap-button>
}

<p>
    @Html.ActionLink("Razor AtcionLink(Create)", "Create", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_01", "Index_01", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_02", "Index_02", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_03", "Index_03", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_04", "Index_04", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_05", "Index_05", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_06", "Index_06", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    <bootstrap-button type="button" class="btn btn-primary btn-sm" bootstrap-toggle-modal="index_03_Modal">
        Open sample modal
    </bootstrap-button>
</p>
<p>
    @Html.TextBox("name1", null, new { @class = "form-control" })
</p>
<bootstrap-modal id="index_03_Modal" aria-labelledby="myModalLabel" class="modal-dialog modal-lg">
    <bootstrap-modal-header>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sample modal header</h4>
    </bootstrap-modal-header>
    <bootstrap-modal-body>
        <p>
            Razor Page Learn
        </p>
        <p>
            ㄴ https://www.learnrazorpages.com/razor-pages/tag-helpers/input-tag-helper
        </p>
        <p>
            google : asp.net core razor submit model controller search
        </p>
        <p>
            ㄴ https://stackoverflow.com/questions/21676745/how-to-send-data-from-view-to-controller-action-in-asp-net-mvc
        </p>
        <p>
            html tag "textbox" with "placeholder(Model display name)"
        </p>
        <p>
            ㄴ https://kevww.wordpress.com/2012/09/28/create-a-custom-htmlhelper-textboxfor-to-display-label-text-as-placeholder-integrated-with-twitter-bootstrap/
        </p>
        <p>
            올리기전에 해야 할 것 : Index_06 현재 오류나고 있음
        </p>
        <p>
            https://stackoverflow.com/questions/19650345/mvc-razor-form-with-multiple-different-submit-buttons
        </p>
        <p>
            https://www.youtube.com/watch?v=lChDn1Ti0jI
        </p>
        <p>
            http://www.binaryintellect.net/articles/2678a2f2-3236-45a6-a0e5-e6340d9930d5.aspx
        </p>
        <p>
            https://www.c-sharpcorner.com/UploadFile/219d4d/implement-search-paging-and-sort-in-mvc-5/
        </p>
        <p>
            https://hackernoon.com/asp-net-core-razor-pages-vs-mvc-which-will-create-better-web-apps-in-2018-bd137ae0acaa
        </p>
        <p>
            https://www.red-gate.com/simple-talk/dotnet/asp-net/tips-and-tricks-about-razor-partial-views/
        </p>
        <p>
            2018.11.28
        </p>
        <p>
            https://stackoverflow.com/questions/40478711/implementing-a-simple-search-function-in-asp-net-mvc
        </p>
        <p>
            https://jonhilton.net/2017/08/17/how-to-get-data-from-an-html-form-to-your-asp.net-mvc-core-controller/
        </p>
        <p>
            https://stackoverflow.com/questions/21676745/how-to-send-data-from-view-to-controller-action-in-asp-net-mvc
        </p>
        <p>
            https://www.learnrazorpages.com/razor-pages/tag-helpers/input-tag-helper
        </p>
        <p>
            http://www.tutorialsteacher.com/mvc/htmlhelper-textbox-textboxfor
        </p>
        <p>
            http://www.csharpstudy.com/web/article/9-MVC-Html-Helpers
        </p>
        <p>
            https://stackoverflow.com/questions/44013663/how-to-enter-placeholder-text-within-html-textboxfor-in-c-sharp-mvc-4
        </p>
        <p>
            https://forums.asp.net/t/1985469.aspx?How+to+use+the+placeholder+in+mvc4+for+the+textbox+
        </p>
        <p>
            https://kevww.wordpress.com/2012/09/28/create-a-custom-htmlhelper-textboxfor-to-display-label-text-as-placeholder-integrated-with-twitter-bootstrap/
        </p>
        <p>
            https://www.quora.com/How-do-I-add-a-placeholder-in-MVC-Razor
        </p>
        <p>
            https://stackoverflow.com/questions/7533894/html-beginform-with-get-method
        </p>
        <input type="button" onclick="alertTest('Test')" id="file_AlertTest" value="Test" />
    </bootstrap-modal-body>
</bootstrap-modal>
@section scripts {
    <script type="text/javascript">
        var buttonclick = function (event) {
            var id = event.target.id;
            alert(id);
        }

        $("input[id^='file_']").jqxButton({ theme: 'metro' });

        // https://www.jqwidgets.com/jquery-widgets-documentation/documentation/jqxgrid/jquery-grid-cellsrendering.htm
        var cellsrenderer_default = function (index, datafield, value, defaultvalue, column, rowdata) {
            var rowdataObject = JSON.stringify(rowdata);
            var str_args = rowdata.VULN_SEQ;
            return '<input class="btn btn-danger" style="width:100%; height:100%;" type="button" onClick="cellsrenderer_default_fn(\'' + str_args + '\')" id="btn_' + rowdata.VULN_SEQ + '" value="' + 'rowdata.VULN_NAME' + '"/>'
        }

        var cellsrenderer_default2 = function (index, datafield, value, defaultvalue, column, rowdata) {
            var rowdataObject = JSON.stringify(rowdata);
            var str_args = rowdata.VULN_SEQ;
            return '<input class="btn btn-danger" style="width:80%; height:80%;" type="button" onClick="cellsrenderer_default_fn(\'' + str_args + '\')" id="btn_' + rowdata.VULN_SEQ + '" value="' + rowdata.VULN_NAME + '"/>'
        }

        var cellsrenderer_default_fn = function (value) {
            alert("rowdata.VulnSeq : " + value);
        }

        var cellsrenderer_btn = function (index, datafield, value, defaultvalue, column, rowdata) {
            return 'Edit'
        }

        var cellsbuttonclick_btn = function () {
            alert("xxx");
        }

        function cellsbuttonclick_btn2() {
            alert("xxx");
        }

        function cloneObject(obj) {
            if (obj == null || typeof (obj) != 'object')
                return obj;

            var temp = new obj.constructor();
            for (var key in obj)
                temp[key] = cloneObject(obj[key]);

            return temp;
        }

        var template = { rowDetails: "<div style=\"margin: 10px;\"></div>", rowDetailsHeight: 220, rowDetailsHidden: true };
        var initRowDetails = function (index, parentElement, gridElement, record) {
            var id = record.uid.toString();
            var grid = $($(parentElement).children()[0]);
            var data = [];
            var generaterow = function (i) {
                var row = {};
                row["OrderDate"] = new Date(2016, Math.floor(Math.random() * 11), Math.floor(Math.random() * 27))
                row["Quantity"] = Math.floor(Math.random() * 50)
                row["ProductName"] = record.ProductName;
                return row;
            }
            for (var i = 0; i < Math.max(10, Math.floor(Math.random() * 20)); i++) {
                var row = generaterow(i);
                data[i] = row;
            }
            var source = {
                datafields: [
                    { name: 'OrderDate', type: 'date' },
                    { name: 'Quantity', type: 'string' },
                    { name: 'ProductName', type: 'string' }
                ],
                localdata: data
            }
            var nestedGridAdapter = new $.jqx.dataAdapter(source);
            if (grid != null) {
                grid.jqxGrid({
                    source: nestedGridAdapter, width: 780, height: 200,
                    columns: [
                        { text: 'Order Date', cellsFormat: 'd', dataField: 'OrderDate', width: 200 },
                        { text: 'Quantity', cellsAlign: 'right', dataField: 'Quantity', width: 200 },
                        { text: 'Product Name', dataField: 'ProductName' }
                    ]
                });
            }
        }

        function alertTest(str) {
            alert(str);
        }
    </script>
}

<div id="grid" style="width:100%"></div>
<div style="display:none">
    @*제일 중요!!! source-url="Url.Action("GetData","Tvulns", pageSearchs)" 은 jqx grid 의 ajax  호출 url을 생성한다!!!*@
    <jqx-grid id="grid" row-details="true" show-filter-row="true" row-details-template="{{template}}" init-row-details="initRowDetails()" server-processing="true" alt-rows="true" filterable="true" pageable="true" auto-height="true" source-id="@(pageVuln06.VULN_SEQ)" theme="@ViewData["Theme"]" sortable="true" width="100%" source-root="PageVuln06s" source-total-records="PageListTotalCount" source-url="@Url.Action("GetData","Tvulns", pageSearchs)" source-model="pageVuln06">
        <jqx-grid-columns>
            <jqx-grid-column cells-renderer="cellsrenderer_default()" datafield-for="@(pageVuln06.VULN_SEQ)" width="180" text="Default"></jqx-grid-column>
            <jqx-grid-column column-group="name1" datafield-for="@(pageVuln06.VULN_NAME)" width="150" text="MenuName"></jqx-grid-column>
            <jqx-grid-column column-group="name1" datafield-for="@(pageVuln06.GROUP_SEQ)" width="150" text="ParentMenu"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(pageVuln06.MANAGE_ID)" width="150" text="Roll"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(pageVuln06.VULGROUP)" width="150" text="Area"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(pageVuln06.VULNO)" width="150" text="Controller"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(pageVuln06.UPDATE_DT)" width="150" text="Action"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(pageVuln06.CREATE_USER_ID)" width="60" text="UseYn"></jqx-grid-column>
            <jqx-grid-column cells-renderer="cellsrenderer_btn()" datafield-for="@(pageVuln06.SORT_ORDER)" button-click="cellsbuttonclick_btn()" column-type="button" width="180" text="click"></jqx-grid-column>
        </jqx-grid-columns>
        <jqx-grid-column-groups>
            <jqx-grid-column-group name="name1" text="group1"></jqx-grid-column-group>
        </jqx-grid-column-groups>
    </jqx-grid>
</div>