@*@model IEnumerable<PARK.APP.FIRST.Areas.VulnManage.Models.Vuln.Tvuln>*@
@model PARK.APP.FIRST.Areas.VulnManage.Controllers.TvulnsController.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers
@{
    ViewData["Title"] = "Index_02";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index_02</h2>

<p>
    @Html.ActionLink("Razor AtcionLink(Create)", "Create", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_01", "Index_01", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_02", "Index_02", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_03", "Index_03", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_04", "Index_04", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_05", "Index_05", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
    @Html.ActionLink("Index_06", "Index_06", "Tvulns", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].CREATE_USER_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].GROUP_SEQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].MANAGE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].SORT_ORDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].UPDATE_DT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].VULGROUP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageVulns[0].VULNO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageVulns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CREATE_USER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GROUP_SEQ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MANAGE_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SORT_ORDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPDATE_DT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VULGROUP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VULNO)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VULN_SEQ">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VULN_SEQ">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VULN_SEQ">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
