@model IEnumerable<PARK.APP.FIRST.Areas.SystemManage.Models.Menu.TMenu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers
@{
    ViewData["Title"] = "Index";
    ViewData["Theme"] = "Dark Blue";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<KeyValuePair<string, object>> settings = new List<KeyValuePair<string, object>>()
    {
        new KeyValuePair<string, object>("position", "mouse"),
        new KeyValuePair<string, object>("content", "Tooltip"),
        new KeyValuePair<string, object>("selector", "tooltip"),
        new KeyValuePair<string, object>("theme", ViewData["Theme"])
    };
}
@section scripts {
    <script type="text/javascript">
        $("#grid1").click(function (event) {
            alert("!!!"); // true
        });
    </script>
}

<div id="grid"></div>
<p>Click !</p>
<div id="grid1" style="background-color:red;height:60px;width:60px;"></div>


<h2>Index</h2>

@{
    var employee = Model.FirstOrDefault();
}
<jqx-calendar theme="@ViewData["Theme"]" width="200" height="200"></jqx-calendar>
<jqx-grid id="grid" alt-rows="true" show-status-bar="true" show-aggregates="true" filterable="true" pageable="true" auto-height="true" source-id="MenuSeq" sortable="true" width="850" source="Model">
    <jqx-grid-columns>
        <jqx-grid-column datafield-for="@(employee.MenuName)" width="150" text="a"></jqx-grid-column>
        <jqx-grid-column datafield-for="@(employee.ImagePath)" width="150" text="b"></jqx-grid-column>
        <jqx-grid-column datafield-for="@(employee.UpperMenuSeq)" width="150" text="c"></jqx-grid-column>
    </jqx-grid-columns>
</jqx-grid>

<span id="tooltip">Move cursor here to see the tooltip</span>
<jqx-tool-tip settings="settings"></jqx-tool-tip>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpperMenuSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PgmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseYn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpperMenuSeq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PgmId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseYn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuSeq">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MenuSeq">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MenuSeq">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
